<div style="color:white;background-color:Black;padding:3%;border-radius:150px 150px;font-size:2.5em;text-align:center">Basics Pandas toolkit Part 1</div>

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.DataFrame({
    
 "Name": ["Braund, Mr. Owen Harris","Allen, Mr. William Henry","Bonnell, Miss. Elizabeth"],
    
 "Age": [22, 35, 58],
    
 "Sex": ["male", "male", "female"]
    
})

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [3]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [4]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
df["Age"].max()

58

In [6]:
ages.max()

58

In [7]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [8]:
titanic = pd.read_csv("/kaggle/input/titanicdataset-traincsv/train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [10]:
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

In [11]:
titanic = pd.read_excel("titanic.xlsx", sheet_name="passengers")

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
ages = titanic["Age"]
ages.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [14]:
type(titanic["Age"])

pandas.core.series.Series

In [15]:
titanic["Age"].shape

(891,)

In [16]:
titanic["Age"].shape

(891,)

In [17]:
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [18]:
titanic[["Age", "Sex"]].shape

(891, 2)

In [19]:
above_35 = titanic[titanic["Age"] > 35]
above_35.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S

In [20]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
class_23.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [21]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [22]:
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
adult_names = titanic.loc[titanic["Age"] > 35]
adult_names.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S

In [24]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]
adult_names.head()

1     Cumings, Mrs. John Bradley (Florence Briggs Th...
6                               McCarthy, Mr. Timothy J
11                             Bonnell, Miss. Elizabeth
13                          Andersson, Mr. Anders Johan
15                     Hewlett, Mrs. (Mary D Kingcome)
Name: Name, dtype: object

In [25]:
titanic.iloc[9:25, 2:5]

    Pclass                                               Name     Sex
9        2                Nasser, Mrs. Nicholas (Adele Achem)  female
10       3                    Sandstrom, Miss. Marguerite Rut  female
11       1                           Bonnell, Miss. Elizabeth  female
12       3                     Saundercock, Mr. William Henry    male
13       3                        Andersson, Mr. Anders Johan    male
14       3               Vestrom, Miss. Hulda Amanda Adolfina  female
15       2                   Hewlett, Mrs. (Mary D Kingcome)   female
16       3                               Rice, Master. Eugene    male
17       2                       Williams, Mr. Charles Eugene    male
18       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19       3                            Masselmani, Mrs. Fatima  female
20       2                               Fynney, Mr. Joseph J    male
21       2                              Beesley, Mr. Lawrence    male
22       3                        McGowan, Miss. Anna "Annie"  female
23       1                       Sloper, Mr. William Thompson    male
24       3                      Palsson, Miss. Torborg Danira  female

In [26]:
anon = titanic.iloc[0:3, 3] = "anonymous"
anon

'anonymous'

In [27]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
titanic["Age"].mean()

29.69911764705882

In [29]:
titanic[["Age", "Fare"]].median()

Age     28.0000
Fare    14.4542
dtype: float64

In [30]:
titanic[["Age", "Fare"]].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [31]:
titanic.agg({
    
"Age": ["min", "max", "median", "skew"],
"Fare": ["min", "max", "median", "mean"]
    
})

              Age        Fare
min      0.420000    0.000000
max     80.000000  512.329200
median  28.000000   14.454200
skew     0.389108         NaN
mean          NaN   32.204208

In [32]:
titanic[["Sex", "Age"]].groupby("Sex").mean()

              Age
Sex
female  27.915709
male    30.726645

In [33]:
titanic[["Sex", "Age"]].groupby("Sex").max()

         Age
Sex
female  63.0
male    80.0

In [34]:
titanic[["Sex", "Age"]].groupby("Sex").first()

         Age
Sex
female  38.0
male    22.0

In [35]:
titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C

In [36]:
titanic.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [37]:
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

In [38]:
titanic["Pclass"].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [39]:
titanic.groupby("Pclass")["Pclass"].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64

In [40]:
titanic.sort_values(by="Age",ascending=False).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

In [41]:
titanic.sort_values(by=['Pclass', 'Age'], ascending=False).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S

In [42]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [43]:
titanic["Name"].str.lower()

0                                         anonymous
1                                         anonymous
2                                         anonymous
3      futrelle, mrs. jacques heath (lily may peel)
4                          allen, mr. william henry
                           ...
886                           montvila, rev. juozas
887                    graham, miss. margaret edith
888        johnston, miss. catherine helen "carrie"
889                           behr, mr. karl howell
890                             dooley, mr. patrick
Name: Name, Length: 891, dtype: object

In [44]:
titanic["Name"].str.split(",")

0                                          [anonymous]
1                                          [anonymous]
2                                          [anonymous]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
                            ...
886                           [Montvila,  Rev. Juozas]
887                    [Graham,  Miss. Margaret Edith]
888        [Johnston,  Miss. Catherine Helen "Carrie"]
889                           [Behr,  Mr. Karl Howell]
890                             [Dooley,  Mr. Patrick]
Name: Name, Length: 891, dtype: object

In [45]:
titanic["Surname"] = titanic["Name"].str.split(",").str.get(0)
titanic["Surname"]

0      anonymous
1      anonymous
2      anonymous
3       Futrelle
4          Allen
         ...
886     Montvila
887       Graham
888     Johnston
889         Behr
890       Dooley
Name: Surname, Length: 891, dtype: object

In [46]:
titanic["Name_main"] = titanic["Name"].str.split(",").str.get(1)
titanic["Name_main"]

0                                      NaN
1                                      NaN
2                                      NaN
3       Mrs. Jacques Heath (Lily May Peel)
4                        Mr. William Henry
                      ...
886                            Rev. Juozas
887                   Miss. Margaret Edith
888         Miss. Catherine Helen "Carrie"
889                        Mr. Karl Howell
890                            Mr. Patrick
Name: Name_main, Length: 891, dtype: object

In [47]:
titanic["Name"].str.split(",")

0                                          [anonymous]
1                                          [anonymous]
2                                          [anonymous]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
                            ...
886                           [Montvila,  Rev. Juozas]
887                    [Graham,  Miss. Margaret Edith]
888        [Johnston,  Miss. Catherine Helen "Carrie"]
889                           [Behr,  Mr. Karl Howell]
890                             [Dooley,  Mr. Patrick]
Name: Name, Length: 891, dtype: object

In [48]:
titanic['Real_Name'] = titanic["Name"].str.split(",").str.get(0)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name_main,Real_Name
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S,anonymous,NaN,anonymous
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C,anonymous,NaN,anonymous
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,anonymous,NaN,anonymous
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,Allen

In [49]:
titanic['Surname'] = titanic["Name"].str.split(",").str.get(1)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name_main,Real_Name
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,anonymous
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,NaN,anonymous
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,anonymous
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs. Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr. William Henry,Mr. William Henry,Allen

In [50]:
titanic['Salutation'] = titanic['Surname'].str.split(".").str.get(0)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name_main,Real_Name,Salutation
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,anonymous,NaN
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,NaN,anonymous,NaN
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,anonymous,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs. Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),Futrelle,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr. William Henry,Mr. William Henry,Allen,Mr

In [51]:
titanic["Name"].str.contains("Mr")

0      False
1      False
2      False
3       True
4       True
       ...
886    False
887    False
888    False
889     True
890     True
Name: Name, Length: 891, dtype: bool

In [52]:
titanic[titanic["Name"].str.contains("Countess")]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name_main,Real_Name,Salutation
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5,B77,S,the Countess. of (Lucy Noel Martha Dyer-Edwards),the Countess. of (Lucy Noel Martha Dyer-Edwards),Rothes,the Countess

In [53]:
titanic["Name"].str.len()

0       9
1       9
2       9
3      44
4      24
       ..
886    21
887    28
888    40
889    21
890    19
Name: Name, Length: 891, dtype: int64

In [54]:
titanic["Name"].str.len().idxmax()

307

In [55]:
titanic.loc[titanic["Name"].str.len().idxmax(), "Name"]

'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'

In [56]:
titanic.loc[titanic["Name"].str.len().idxmin(), "Name"]

'anonymous'

In [57]:
titanic["Sex_short"] = titanic["Sex"].replace({"male": "M", "female": "F"})
titanic["Sex_short"]

0      M
1      F
2      F
3      F
4      M
      ..
886    M
887    F
888    F
889    M
890    M
Name: Sex_short, Length: 891, dtype: object

In [58]:
titanic["Sex_short"] = titanic["Sex"].str.replace("female", "F")
titanic["Sex_short"] = titanic["Sex_short"].str.replace("male", "M")

In [59]:
import numpy as np
df = pd.DataFrame(np.random.randn(10, 3), columns=list("abc"))
df[["a", "c","b"]]

          a         c         b
0  1.198903  1.478434 -0.035309
1  1.009655 -1.044862 -0.051222
2 -0.972587 -1.062713 -1.482943
3  0.664169 -1.857897  1.331967
4  1.898035 -0.479910 -1.186192
5  2.424308  0.809093  0.874881
6  0.105022  0.331709  0.297047
7  0.003296 -0.609262  1.331382
8  1.708056  0.525191 -1.097852
9 -2.426487 -0.083903  1.804689

In [60]:
df.loc[:, ["a", "c"]]

          a         c
0  1.198903  1.478434
1  1.009655 -1.044862
2 -0.972587 -1.062713
3  0.664169 -1.857897
4  1.898035 -0.479910
5  2.424308  0.809093
6  0.105022  0.331709
7  0.003296 -0.609262
8  1.708056  0.525191
9 -2.426487 -0.083903

<font color="Red" size=+5 face="Comic Sans MS">Good Code</font>

In [61]:
named = list("abcdefg")
n = 30
columns = named + np.arange(len(named), n).tolist()
df = pd.DataFrame(np.random.randn(n, n), columns=columns)
df.iloc[:, np.r_[:10, 24:30]]

,a,b,c,d,e,f,g,7,8,9,24,25,26,27,28,29
0,0.985628,-1.356792,1.606617,-1.278928,0.531972,-0.142031,-1.558968,0.688060,-0.274585,0.559902,0.511943,-0.608272,-1.548050,-0.279242,0.501228,1.923919
1,-2.435987,-0.929844,-0.585821,-0.758632,-1.930520,0.809376,-0.096036,0.885812,1.096753,-0.900482,0.807619,0.978224,0.696940,-1.067091,0.074270,-0.206843
2,-0.884146,-1.191806,0.467004,0.824092,0.298934,-0.183799,0.121503,0.008744,0.604080,-0.893645,1.572881,-0.975754,-0.750125,-2.228717,-1.018811,-0.247431
3,0.846817,-0.710393,0.367767,-0.433729,0.356837,0.350760,0.018446,0.842481,-1.711928,-0.338057,-0.929127,-0.870588,0.036062,-2.253343,-0.896510,-0.874920
4,-0.597090,-0.221559,-0.722923,-1.223588,0.243736,0.871502,1.473419,0.744425,0.090829,0.196977,0.662815,0.208025,-0.128037,-0.572142,-0.479682,-0.809179
5,0.781476,0.004346,-0.344216,2.843600,1.093874,1.184372,0.682501,0.693464,0.731010,-1.740501,0.856324,0.686024,0.037982,-1.273285,-0.411381,-0.416006
6,-1.527540,0.812750,0.911851,-0.449648,-0.511965,-1.875878,-1.751965,-0.970669,0.898866,-0.205244,-0.366263,0.533826,0.439121,-2.317449,-2.476964,-0.361604
7,-0.546786,1.026811,1.055897,-0.478000,-1.603984,1.051406,-1.052330,-2.725605,0.433056,0.019092,0.419860,-0.757802,-0.219910,-1.333749,-1.188944,-1.358138
8,-0.577474,-1.705897,0.542727,1.120865,-2.131759,-1.144199,-0.008999,0.390592,0.286696,1.161504,-0.425934,1.092264,-0.179918,0.627723,0.998316,0.971606
9,0.315176,-0.816481,0.535027,0.204488,0.590551,-1.398839,-1.020017,-0.664757,-1.049969,-2.258168,0.630919,0.152265,-0.475287,1.151751,0.481466,2.194927
10,-1.108246,0.380223,0.657944,0.456809,0.655227,-1.146593,1.092703,-1.294645,0.984077,0.135566,1.252181,0.579982,0.962042,0.598769,0.817063,-0.096695
11,1.787137,0.040849,1.103191,1.566023,1.850198,-2.229486,-2.140102,0.355627,-2.594398,1.422186,0.205311,0.272468,1.226278,-0.129497,1.064657,0.851425
12,0.906261,0.518034,0.407740,-0.296134,-0.221983,-0.327500,-0.084907,-1.287038,-0.465314,-0.465811,0.889624,-0.019626,0.694603,1.129731,-1.110768,2.205935
13,-2.414152,1.851331,-0.747211,1.335820,-0.423145,0.162971,0.407885,0.297534,2.164833,-1.101831,-0.825275,-0.193541,-1.267430,1.753690,0.061465,1.065123
14,0.510502,-0.641811,0.104510,-0.241094,0.533519,-1.692046,-0.302301,-0.251892,-1.322669,1.351247,-1.079350,0.971493,-0.436332,-0.065216,0.619656,0.731565
15,-0.841639,0.526997,-0.667785,0.967522,0.287783,0.857038,1.540162,-1.501578,0.013867,0.205901,-0.975330,-1.381116,-0.384965,-1.005749,1.878157,1.283116
16,1.263006,1.033115,1.038930,-0.779969,2.144132,0.027201,-0.918229,-0.828316,0.957567,-1.749562,0.211647,0.276642,-0.603735,-0.010250,-0.540572,-0.313494
17,-1.405295,-0.416828,-0.588897,-1.672820,-0.270119,-1.166208,-0.933254,-0.001334,1.579625,-1.467500,0.266433,-1.087545,0.322075,-0.255652,-1.323999,0.106791
18,0.716011,0.707033,-0.084648,0.748089,-0.694718,0.956475,-0.309181,-0.350097,-0.744112,0.764986,-1.464944,1.127718,0.895056,0.910754,-0.048928,1.600562
19,0.952844,1.348446,0.247420,-0.678916,0.767372,0.104839,0.373133,0.940860,-0.015443,0.996055,-0.529447,-0.262877,0.385933,-0.244412,-0.354883,-2.029174
20,0.434435,-0.509806,-0.167043,0.572408,0.452314,-0.262957,0.853497,-0.254853,-0.274855,-1.173967,-0.822078,1.010541,0.628026,0.055587,-1.221937,1.914712
21,-1.937075,1.109089,1.815094,-2.822677,0.103261,-1.579811,-0.368306,0.175278,0.728994,0.904233,0.823734,-1.853335,-0.324518,1.342240,-0.674576,-0.444466
22,-2.569151,-0.162674,-0.543950,-0.395276,0.229511,-0.047279,-1.288853,1.828859,0.595839,-0.015301,-0.136371,-0.803826,-1.953871,-2.217517,-1.624211,2.014679
23,-0.561301,2.460244,0.251536,-0.606041,1.963699,0.330374,-0.294552,-1.980110,0.272530,0.499815,-0.087208,0.635381,0.395309,0.416210,0.051699,-0.729448
24,-0.093754,-1.892880,0.856921,-0.057208,-1.016921,0.655676,-1.005949,0.373378,-0.094622,0.786528,-0.471449,0.623715,0.359660,0.162959,-2.268376,0.806893
25,0.022657,0.937842,-0.322428,-1.762403,2.546064,-0.568006,-1.312876,-2.046010,-0.188846,-0.196319,0.998264,-0.033121,1.987316,1.428911,-0.602785,0.557882
26,-1.101068,-1.884978,1.052141,-0.016901,1.704052,0.860773,0.637989,0.415233,1.650320,-0.724784,-0.774974,1.003310,0.313853,0.434982,1.484825,-1.277298
27,-0.802995,0.380111,0.492535,-1.066951,3.264848,0.813061,1.923170,-0.247073,0.216461,1.355242,0.032760,2.498714,0.686401,0.696843,-0.726368,0.349132
28,-0.141636,0.113151,-0.134928,0.645920,-0.627112,-1.539609,-1.461187,-1.557242,-0.481602,1.855964,-0.025409,1.153828,2.362075,-0.466375,-0.917332,-1.242000
29,0.035667,-0.583766,-0.080555,-1.003281,-0.823343,0.137588,-0.944621,1.145267,-0.960136,-0.163420,-1.076218,-0.620431,-0.355861,1.566727,-0.206658,0.189815

In [62]:
df = pd.DataFrame({
    
"v1": [1, 3, 5, 7, 8, 3, 5, np.nan, 4, 5, 7, 9],
"v2": [11, 33, 55, 77, 88, 33, 55, np.nan, 44, 55, 77, 99],
"by1": ["red", "blue", 1, 2, np.nan, "big", 1, 2, "red", 1, np.nan, 12],
"by2": ["wet","dry",99,95,np.nan,"damp",95,99,"red",99,np.nan,np.nan,]
    
})

df

     v1    v2   by1   by2
0   1.0  11.0   red   wet
1   3.0  33.0  blue   dry
2   5.0  55.0     1    99
3   7.0  77.0     2    95
4   8.0  88.0   NaN   NaN
5   3.0  33.0   big  damp
6   5.0  55.0     1    95
7   NaN   NaN     2    99
8   4.0  44.0   red   red
9   5.0  55.0     1    99
10  7.0  77.0   NaN   NaN
11  9.0  99.0    12   NaN

In [63]:
g = df.groupby(["by1", "by2"])
g[["v1", "v2"]].mean()

            v1    v2
by1  by2
1    95    5.0  55.0
     99    5.0  55.0
2    95    7.0  77.0
     99    NaN   NaN
big  damp  3.0  33.0
blue dry   3.0  33.0
red  red   4.0  44.0
     wet   1.0  11.0

In [64]:
import numpy as np
s = pd.Series(np.arange(5), dtype=np.float32)
s

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float32

In [65]:
s.isin([2, 4])

0    False
1    False
2     True
3    False
4     True
dtype: bool

<font color="Red" size=+2 face="Comic Sans MS">Data generation code</font>

In [66]:
# Data genetarion code

import random
import string

baseball = pd.DataFrame({
"team": ["team %d" % (x + 1) for x in range(5)] * 5,
"player": random.sample(list(string.ascii_lowercase), 25),
"batting avg": np.random.uniform(0.200, 0.400, 25),
    }
)

baseball

      team player  batting avg
0   team 1      e     0.364880
1   team 2      a     0.205766
2   team 3      g     0.245404
3   team 4      z     0.232223
4   team 5      n     0.340338
5   team 1      m     0.279654
6   team 2      j     0.367260
7   team 3      o     0.360925
8   team 4      i     0.246742
9   team 5      s     0.335568
10  team 1      b     0.252775
11  team 2      u     0.312469
12  team 3      y     0.205742
13  team 4      p     0.350037
14  team 5      q     0.389938
15  team 1      f     0.383162
16  team 2      w     0.380191
17  team 3      r     0.268821
18  team 4      v     0.331762
19  team 5      c     0.341200
20  team 1      k     0.357736
21  team 2      t     0.216320
22  team 3      l     0.300307
23  team 4      h     0.227027
24  team 5      d     0.367571

In [67]:
baseball.pivot_table(values="batting avg", columns="team", aggfunc=np.max)

team           team 1    team 2    team 3    team 4    team 5
batting avg  0.383162  0.380191  0.360925  0.350037  0.389938

In [68]:
df = pd.DataFrame({"a": np.random.randn(10), "b": np.random.randn(10)})
df.head()

          a         b
0  0.926263 -0.126981
1 -0.589401 -1.313281
2  0.571539 -0.467375
3  0.380249 -0.177851
4  1.477432  0.616958

In [69]:
df.query("a <= b")

          a         b
6 -0.534177  0.338868
7  0.285821  0.306599
8 -0.137518 -0.040645

In [70]:
df[df["a"] <= df["b"]]

          a         b
6 -0.534177  0.338868
7  0.285821  0.306599
8 -0.137518 -0.040645

In [71]:
df.loc[df["a"] <= df["b"]]

          a         b
6 -0.534177  0.338868
7  0.285821  0.306599
8 -0.137518 -0.040645

In [72]:
df[df["a"] >= df["b"]]

          a         b
0  0.926263 -0.126981
1 -0.589401 -1.313281
2  0.571539 -0.467375
3  0.380249 -0.177851
4  1.477432  0.616958
5  0.945796  0.672021
9  1.245422 -0.245551

In [73]:
df = pd.DataFrame({"a": np.random.randn(10), "b": np.random.randn(10)})
df.head()

          a         b
0 -0.429167 -0.193555
1  1.998363  0.166357
2  1.143227  0.054962
3 -0.608614  0.852395
4  0.596349  1.188558

In [74]:
df.eval("a + b")

0   -0.622721
1    2.164720
2    1.198189
3    0.243781
4    1.784906
5    1.824687
6   -1.301881
7    0.996399
8   -1.537147
9   -0.503459
dtype: float64

In [75]:
df["a"] + df["b"]

0   -0.622721
1    2.164720
2    1.198189
3    0.243781
4    1.784906
5    1.824687
6   -1.301881
7    0.996399
8   -1.537147
9   -0.503459
dtype: float64

In [76]:
df = pd.DataFrame({
    
"x": np.random.uniform(1.0, 168.0, 120),
"y": np.random.uniform(7.0, 334.0, 120),
"z": np.random.uniform(1.7, 20.7, 120),
"month": [5, 6, 7, 8] * 30,
"week": np.random.randint(1, 4, 120)
    
})

df.head()

            x           y          z  month  week
0   19.151935  311.281877  13.710379      5     1
1   97.943735   27.956109  18.775980      6     1
2  162.063942  313.370356  15.550629      7     1
3  101.665012   26.062862   6.967681      8     1
4    3.810430   59.353638  19.199952      5     3

In [77]:
grouped = df.groupby(["month", "week"])
grouped["x"].agg([np.mean, np.std])

                  mean        std
month week
5     1      82.852575  48.340272
      2      92.748467  63.492158
      3      96.195337  64.848007
6     1     105.012810  44.178631
      2      94.357932  63.487576
      3      76.331024  46.231270
7     1     102.936049  38.551427
      2      51.324997  44.311838
      3     107.129159  47.777169
8     1     120.402273  31.656755
      2      87.984565  61.782074
      3      83.029028  48.300356

In [78]:
a = np.array(list(range(1, 24)) + [np.NAN]).reshape(2, 3, 4)
a

array([[[ 1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.],
        [ 9., 10., 11., 12.]],

       [[13., 14., 15., 16.],
        [17., 18., 19., 20.],
        [21., 22., 23., nan]]])

In [79]:
pd.DataFrame([tuple(list(x) + [val]) for x, val in np.ndenumerate(a)])

    0  1  2     3
0   0  0  0   1.0
1   0  0  1   2.0
2   0  0  2   3.0
3   0  0  3   4.0
4   0  1  0   5.0
5   0  1  1   6.0
6   0  1  2   7.0
7   0  1  3   8.0
8   0  2  0   9.0
9   0  2  1  10.0
10  0  2  2  11.0
11  0  2  3  12.0
12  1  0  0  13.0
13  1  0  1  14.0
14  1  0  2  15.0
15  1  0  3  16.0
16  1  1  0  17.0
17  1  1  1  18.0
18  1  1  2  19.0
19  1  1  3  20.0
20  1  2  0  21.0
21  1  2  1  22.0
22  1  2  2  23.0
23  1  2  3   NaN

In [80]:
a = list(enumerate(list(range(1, 5)) + [np.NAN]))
a

[(0, 1), (1, 2), (2, 3), (3, 4), (4, nan)]

In [81]:
pd.DataFrame(a)

   0    1
0  0  1.0
1  1  2.0
2  2  3.0
3  3  4.0
4  4  NaN

In [82]:
cheese = pd.DataFrame({
    
"first": ["John", "Mary"],
"last": ["Doe", "Bo"],
"height": [5.5, 6.0],
"weight": [130, 150]
    
})

cheese

  first last  height  weight
0  John  Doe     5.5     130
1  Mary   Bo     6.0     150

In [83]:
pd.melt(cheese, id_vars=["first", "last"])

  first last variable  value
0  John  Doe   height    5.5
1  Mary   Bo   height    6.0
2  John  Doe   weight  130.0
3  Mary   Bo   weight  150.0

In [84]:
cheese.set_index(["first", "last"]).stack() # alternative

first  last
John   Doe   height      5.5
             weight    130.0
Mary   Bo    height      6.0
             weight    150.0
dtype: float64

In [85]:
df = pd.DataFrame({
    
"x": np.random.uniform(1.0, 168.0, 12),
"y": np.random.uniform(7.0, 334.0, 12),
"z": np.random.uniform(1.7, 20.7, 12),
"month": [5, 6, 7] * 4,
"week": [1, 2] * 6
    
})

mdf = pd.melt(df, id_vars=["month", "week"])

pd.pivot_table(mdf,values="value",index=["variable", "week"],columns=["month"],aggfunc=np.mean,)

month                   5           6           7
variable week
x        1     115.377287  103.807374   88.782013
         2     127.220608   83.881186   72.259745
y        1     170.581284  105.819724  174.081318
         2      71.520327  228.075900   77.735970
z        1      10.151866   10.993291   11.512815
         2      14.862324   18.300305   10.268149

In [86]:
df = pd.DataFrame({
    
"Animal": ["Animal1","Animal2","Animal3","Animal2","Animal1","Animal2","Animal3",],
"FeedType": ["A", "B", "A", "A", "B", "B", "A"],
"Amount": [10, 7, 4, 2, 5, 6, 2]
    
})

df.pivot_table(values="Amount", index="Animal", columns="FeedType", aggfunc="sum")

FeedType     A     B
Animal
Animal1   10.0   5.0
Animal2    2.0  13.0
Animal3    6.0   NaN

In [87]:
df.groupby(["Animal", "FeedType"])["Amount"].sum()

Animal   FeedType
Animal1  A           10
         B            5
Animal2  A            2
         B           13
Animal3  A            6
Name: Amount, dtype: int64

In [88]:
pd.cut(pd.Series([1, 2, 3, 4, 5, 6]), 3)

0    (0.995, 2.667]
1    (0.995, 2.667]
2    (2.667, 4.333]
3    (2.667, 4.333]
4      (4.333, 6.0]
5      (4.333, 6.0]
dtype: category
Categories (3, interval[float64, right]): [(0.995, 2.667] < (2.667, 4.333] < (4.333, 6.0]]

In [89]:
pd.Series([1, 2, 3, 2, 2, 3]).astype("category")

0    1
1    2
2    3
3    2
4    2
5    3
dtype: category
Categories (3, int64): [1, 2, 3]

In [90]:
frame = pd.DataFrame({"col1": ["A", "B", np.NaN, "C", "D"], "col2": ["F", np.NaN, "G", "H", "I"]})

frame

  col1 col2
0    A    F
1    B  NaN
2  NaN    G
3    C    H
4    D    I

In [91]:
frame[frame["col2"].isna()]

  col1 col2
1    B  NaN

In [92]:
frame[frame["col1"].notna()]

  col1 col2
0    A    F
1    B  NaN
3    C    H
4    D    I

In [93]:
df1 = pd.DataFrame({"key": ["A", "B", "C", "D"], "value": np.random.randn(4)})
df2 = pd.DataFrame({"key": ["B", "D", "D", "E"], "value": np.random.randn(4)})

In [94]:
pd.merge(df1, df2, on="key")

  key   value_x   value_y
0   B -0.725809 -0.081485
1   D  0.666693 -1.151412
2   D  0.666693 -1.834569

In [95]:
indexed_df2 = df2.set_index("key")
pd.merge(df1, indexed_df2, left_on="key", right_index=True)

  key   value_x   value_y
1   B -0.725809 -0.081485
3   D  0.666693 -1.151412
3   D  0.666693 -1.834569

In [96]:
pd.merge(df1, df2, on="key", how="left")

  key   value_x   value_y
0   A -0.429078       NaN
1   B -0.725809 -0.081485
2   C  0.636648       NaN
3   D  0.666693 -1.151412
4   D  0.666693 -1.834569

In [97]:
pd.merge(df1, df2, on="key", how="right")

  key   value_x   value_y
0   B -0.725809 -0.081485
1   D  0.666693 -1.151412
2   D  0.666693 -1.834569
3   E       NaN -1.080078

In [98]:
pd.merge(df1, df2, on="key", how="outer")

  key   value_x   value_y
0   A -0.429078       NaN
1   B -0.725809 -0.081485
2   C  0.636648       NaN
3   D  0.666693 -1.151412
4   D  0.666693 -1.834569
5   E       NaN -1.080078

In [99]:
df1 = pd.DataFrame({"city": ["Chicago", "San Francisco", "New York City"], "rank": range(1, 4)})

df2 = pd.DataFrame({"city": ["Chicago", "Boston", "Los Angeles"], "rank": [1, 4, 5]})


pd.concat([df1, df2])

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
0        Chicago     1
1         Boston     4
2    Los Angeles     5

In [100]:
pd.concat([df1, df2]).drop_duplicates()

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
1         Boston     4
2    Los Angeles     5

In [101]:
df = pd.DataFrame({"x": [1, 3, 5], "y": [2, 4, 6]})
df

   x  y
0  1  2
1  3  4
2  5  6

In [102]:
firstlast = pd.DataFrame({"String": ["John Smith", "Jane Cook"]})
firstlast["First_Name"] = firstlast["String"].str.split(" ", expand=True)[0]
firstlast["Last_Name"] = firstlast["String"].str.rsplit(" ", expand=True)[1]
firstlast

       String First_Name Last_Name
0  John Smith       John     Smith
1   Jane Cook       Jane      Cook

In [103]:
firstlast = pd.DataFrame({"string": ["John Smith", "Jane Cook"]})
firstlast["upper"] = firstlast["string"].str.upper()
firstlast["lower"] = firstlast["string"].str.lower()
firstlast["title"] = firstlast["string"].str.title()
firstlast

       string       upper       lower       title
0  John Smith  JOHN SMITH  john smith  John Smith
1   Jane Cook   JANE COOK   jane cook   Jane Cook

In [104]:
df1 = pd.DataFrame({"key": ["A", "B", "C", "D"], "value": np.random.randn(4)})
df1

  key     value
0   A  0.990644
1   B  1.156296
2   C  1.090612
3   D  1.750108

In [105]:
df2 = pd.DataFrame({"key": ["B", "D", "D", "E"], "value": np.random.randn(4)})
df2

  key     value
0   B -0.331439
1   D -0.389730
2   D -0.712765
3   E  1.530564

In [106]:
inner_join = df1.merge(df2, on=["key"], how="inner")
inner_join

  key   value_x   value_y
0   B  1.156296 -0.331439
1   D  1.750108 -0.389730
2   D  1.750108 -0.712765

In [107]:
left_join = df1.merge(df2, on=["key"], how="left")
left_join

  key   value_x   value_y
0   A  0.990644       NaN
1   B  1.156296 -0.331439
2   C  1.090612       NaN
3   D  1.750108 -0.389730
4   D  1.750108 -0.712765

In [108]:
right_join = df1.merge(df2, on=["key"], how="right")
right_join

  key   value_x   value_y
0   B  1.156296 -0.331439
1   D  1.750108 -0.389730
2   D  1.750108 -0.712765
3   E       NaN  1.530564

In [109]:
outer_join = df1.merge(df2, on=["key"], how="outer")
outer_join

  key   value_x   value_y
0   A  0.990644       NaN
1   B  1.156296 -0.331439
2   C  1.090612       NaN
3   D  1.750108 -0.389730
4   D  1.750108 -0.712765
5   E       NaN  1.530564

In [110]:
df = pd.DataFrame({"AAA": [1] * 8, "BBB": list(range(0, 8))})
df

   AAA  BBB
0    1    0
1    1    1
2    1    2
3    1    3
4    1    4
5    1    5
6    1    6
7    1    7

In [111]:
series = list(range(1, 5))
series

[1, 2, 3, 4]

In [112]:
df.loc[2:5, "AAA"] = series
df

   AAA  BBB
0    1    0
1    1    1
2    1    2
3    2    3
4    3    4
5    4    5
6    1    6
7    1    7

In [113]:
df = pd.DataFrame({
    
"class": ["A", "A", "A", "B", "C", "D"],
"student_count": [42, 35, 42, 50, 47, 45],
"all_pass": ["Yes", "Yes", "Yes", "No", "No", "Yes"]
    
})

df.drop_duplicates()

  class  student_count all_pass
0     A             42      Yes
1     A             35      Yes
3     B             50       No
4     C             47       No
5     D             45      Yes

In [114]:
df.drop_duplicates(["class", "student_count"])

  class  student_count all_pass
0     A             42      Yes
1     A             35      Yes
3     B             50       No
4     C             47       No
5     D             45      Yes

In [115]:
new_row = pd.DataFrame([["E", 51, True]],columns=["class", "student_count", "all_pass"])
pd.concat([df, new_row])

  class  student_count all_pass
0     A             42      Yes
1     A             35      Yes
2     A             42      Yes
3     B             50       No
4     C             47       No
5     D             45      Yes
0     E             51     True

In [116]:
df = pd.DataFrame({"x": [1, 3, 5], "y": [2, 4, 6]})
df

   x  y
0  1  2
1  3  4
2  5  6

In [117]:
df1 = pd.DataFrame({"key": ["A", "B", "C", "D"], "value": np.random.randn(4)})
df1

  key     value
0   A  1.181500
1   B -0.539104
2   C -0.453121
3   D  0.424901

In [118]:
df2 = pd.DataFrame({"key": ["B", "D", "D", "E"], "value": np.random.randn(4)})
df2

  key     value
0   B  0.568953
1   D  0.667315
2   D  2.457965
3   E  0.632314

In [119]:
inner_join = df1.merge(df2, on=["key"], how="inner")
inner_join

  key   value_x   value_y
0   B -0.539104  0.568953
1   D  0.424901  0.667315
2   D  0.424901  2.457965

In [120]:
left_join = df1.merge(df2, on=["key"], how="left")
left_join

  key   value_x   value_y
0   A  1.181500       NaN
1   B -0.539104  0.568953
2   C -0.453121       NaN
3   D  0.424901  0.667315
4   D  0.424901  2.457965

In [121]:
right_join = df1.merge(df2, on=["key"], how="right")
right_join

  key   value_x   value_y
0   B -0.539104  0.568953
1   D  0.424901  0.667315
2   D  0.424901  2.457965
3   E       NaN  0.632314

In [122]:
outer_join = df1.merge(df2, on=["key"], how="outer")
outer_join

  key   value_x   value_y
0   A  1.181500       NaN
1   B -0.539104  0.568953
2   C -0.453121       NaN
3   D  0.424901  0.667315
4   D  0.424901  2.457965
5   E       NaN  0.632314

In [123]:
outer_join["value_x"] + outer_join["value_y"]

0         NaN
1    0.029849
2         NaN
3    1.092215
4    2.882866
5         NaN
dtype: float64

In [124]:
outer_join["value_x"].sum()

1.0390769976597274

In [125]:
outer_join[outer_join["value_x"].isna()]

  key  value_x   value_y
5   E      NaN  0.632314

In [126]:
outer_join[outer_join["value_x"].notna()]

  key   value_x   value_y
0   A  1.181500       NaN
1   B -0.539104  0.568953
2   C -0.453121       NaN
3   D  0.424901  0.667315
4   D  0.424901  2.457965

In [127]:
outer_join.dropna()

  key   value_x   value_y
1   B -0.539104  0.568953
3   D  0.424901  0.667315
4   D  0.424901  2.457965

In [128]:
outer_join.fillna(method="ffill")

  key   value_x   value_y
0   A  1.181500       NaN
1   B -0.539104  0.568953
2   C -0.453121  0.568953
3   D  0.424901  0.667315
4   D  0.424901  2.457965
5   E  0.424901  0.632314

In [129]:
outer_join["value_x"].fillna(outer_join["value_x"].mean())

0    1.181500
1   -0.539104
2   -0.453121
3    0.424901
4    0.424901
5    0.207815
Name: value_x, dtype: float64

In [130]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [131]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [132]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.536605  0.044362 -1.295413  1.448879
2013-01-02  1.155350  0.543212 -1.026802  1.918660
2013-01-03 -1.367548  1.294209 -0.761415  1.638561
2013-01-04 -1.421003 -0.852564  0.520059 -1.914890
2013-01-05  1.079166  1.025415 -0.071261  0.382234
2013-01-06  0.940206  0.183625  0.294364 -0.617520

In [133]:
df2 = pd.DataFrame({
    
"A": 1.0,
"B": pd.Timestamp("20130102"),
"C": pd.Series(1, index=list(range(4)), dtype="float32"),
"D": np.array([3] * 4, dtype="int32"),
"E": pd.Categorical(["test", "train", "test", "train"]),
"F": "foo"
    
})

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [134]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [135]:
df.to_numpy()

array([[ 0.53660479,  0.04436161, -1.29541345,  1.44887937],
       [ 1.15534998,  0.54321189, -1.02680185,  1.91866047],
       [-1.36754754,  1.29420882, -0.76141455,  1.63856085],
       [-1.42100255, -0.85256388,  0.52005865, -1.91488954],
       [ 1.0791658 ,  1.02541547, -0.07126105,  0.38223415],
       [ 0.94020562,  0.18362541,  0.29436363, -0.61752005]])

In [136]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [137]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.448879 -1.295413  0.044362  0.536605
2013-01-02  1.918660 -1.026802  0.543212  1.155350
2013-01-03  1.638561 -0.761415  1.294209 -1.367548
2013-01-04 -1.914890  0.520059 -0.852564 -1.421003
2013-01-05  0.382234 -0.071261  1.025415  1.079166
2013-01-06 -0.617520  0.294364  0.183625  0.940206

In [138]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-04 -1.421003 -0.852564  0.520059 -1.914890
2013-01-01  0.536605  0.044362 -1.295413  1.448879
2013-01-06  0.940206  0.183625  0.294364 -0.617520
2013-01-02  1.155350  0.543212 -1.026802  1.918660
2013-01-05  1.079166  1.025415 -0.071261  0.382234
2013-01-03 -1.367548  1.294209 -0.761415  1.638561

In [139]:
df[0:3]

                   A         B         C         D
2013-01-01  0.536605  0.044362 -1.295413  1.448879
2013-01-02  1.155350  0.543212 -1.026802  1.918660
2013-01-03 -1.367548  1.294209 -0.761415  1.638561

In [140]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02  1.155350  0.543212 -1.026802  1.918660
2013-01-03 -1.367548  1.294209 -0.761415  1.638561
2013-01-04 -1.421003 -0.852564  0.520059 -1.914890

In [141]:
df.loc[dates[0]]

A    0.536605
B    0.044362
C   -1.295413
D    1.448879
Name: 2013-01-01 00:00:00, dtype: float64

In [142]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01  0.536605  0.044362
2013-01-02  1.155350  0.543212
2013-01-03 -1.367548  1.294209
2013-01-04 -1.421003 -0.852564
2013-01-05  1.079166  1.025415
2013-01-06  0.940206  0.183625

In [143]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02  1.155350  0.543212
2013-01-03 -1.367548  1.294209
2013-01-04 -1.421003 -0.852564

In [144]:
df.loc["20130102", ["A", "B"]]

A    1.155350
B    0.543212
Name: 2013-01-02 00:00:00, dtype: float64

In [145]:
df.at[dates[0], "A"]

0.5366047864423928

In [146]:
df.iloc[3]

A   -1.421003
B   -0.852564
C    0.520059
D   -1.914890
Name: 2013-01-04 00:00:00, dtype: float64

In [147]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -1.421003 -0.852564
2013-01-05  1.079166  1.025415

In [148]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02  1.155350 -1.026802
2013-01-03 -1.367548 -0.761415
2013-01-05  1.079166 -0.071261

In [149]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02  1.155350  0.543212 -1.026802  1.918660
2013-01-03 -1.367548  1.294209 -0.761415  1.638561

In [150]:
df.iloc[:, 1:3]

                   B         C
2013-01-01  0.044362 -1.295413
2013-01-02  0.543212 -1.026802
2013-01-03  1.294209 -0.761415
2013-01-04 -0.852564  0.520059
2013-01-05  1.025415 -0.071261
2013-01-06  0.183625  0.294364

In [151]:
df.iloc[1, 1]

0.5432118927386318

In [152]:
df[df["A"] > 0]

                   A         B         C         D
2013-01-01  0.536605  0.044362 -1.295413  1.448879
2013-01-02  1.155350  0.543212 -1.026802  1.918660
2013-01-05  1.079166  1.025415 -0.071261  0.382234
2013-01-06  0.940206  0.183625  0.294364 -0.617520

In [153]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.536605  0.044362       NaN  1.448879
2013-01-02  1.155350  0.543212       NaN  1.918660
2013-01-03       NaN  1.294209       NaN  1.638561
2013-01-04       NaN       NaN  0.520059       NaN
2013-01-05  1.079166  1.025415       NaN  0.382234
2013-01-06  0.940206  0.183625  0.294364       NaN

In [154]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2

                   A         B         C         D      E
2013-01-01  0.536605  0.044362 -1.295413  1.448879    one
2013-01-02  1.155350  0.543212 -1.026802  1.918660    one
2013-01-03 -1.367548  1.294209 -0.761415  1.638561    two
2013-01-04 -1.421003 -0.852564  0.520059 -1.914890  three
2013-01-05  1.079166  1.025415 -0.071261  0.382234   four
2013-01-06  0.940206  0.183625  0.294364 -0.617520  three

In [155]:
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03 -1.367548  1.294209 -0.761415  1.638561   two
2013-01-05  1.079166  1.025415 -0.071261  0.382234  four

In [156]:

s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [157]:
df.at[dates[0], "A"] = 0

In [158]:
df.iat[0, 1] = 0

In [159]:
df.loc[:, "D"] = np.array([5] * len(df))
df

                   A         B         C    D
2013-01-01  0.000000  0.000000 -1.295413  5.0
2013-01-02  1.155350  0.543212 -1.026802  5.0
2013-01-03 -1.367548  1.294209 -0.761415  5.0
2013-01-04 -1.421003 -0.852564  0.520059  5.0
2013-01-05  1.079166  1.025415 -0.071261  5.0
2013-01-06  0.940206  0.183625  0.294364  5.0

In [160]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C    D
2013-01-01  0.000000  0.000000 -1.295413 -5.0
2013-01-02 -1.155350 -0.543212 -1.026802 -5.0
2013-01-03 -1.367548 -1.294209 -0.761415 -5.0
2013-01-04 -1.421003 -0.852564 -0.520059 -5.0
2013-01-05 -1.079166 -1.025415 -0.071261 -5.0
2013-01-06 -0.940206 -0.183625 -0.294364 -5.0

In [161]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
df1

                   A         B         C    D    E
2013-01-01  0.000000  0.000000 -1.295413  5.0  1.0
2013-01-02  1.155350  0.543212 -1.026802  5.0  1.0
2013-01-03 -1.367548  1.294209 -0.761415  5.0  NaN
2013-01-04 -1.421003 -0.852564  0.520059  5.0  NaN

In [162]:
df1.dropna(how="any")

                  A         B         C    D    E
2013-01-01  0.00000  0.000000 -1.295413  5.0  1.0
2013-01-02  1.15535  0.543212 -1.026802  5.0  1.0

In [163]:
df1.fillna(value=5)

                   A         B         C    D    E
2013-01-01  0.000000  0.000000 -1.295413  5.0  1.0
2013-01-02  1.155350  0.543212 -1.026802  5.0  1.0
2013-01-03 -1.367548  1.294209 -0.761415  5.0  5.0
2013-01-04 -1.421003 -0.852564  0.520059  5.0  5.0

In [164]:
pd.isna(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [165]:
df.mean()

A    0.064362
B    0.365650
C   -0.390078
D    5.000000
dtype: float64

In [166]:
df.mean(1)

2013-01-01    0.926147
2013-01-02    1.417940
2013-01-03    1.041312
2013-01-04    0.811623
2013-01-05    1.758330
2013-01-06    1.604549
Freq: D, dtype: float64

In [167]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [168]:
df.sub(s, axis="index")

                   A         B         C    D
2013-01-01       NaN       NaN       NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN
2013-01-03 -2.367548  0.294209 -1.761415  4.0
2013-01-04 -4.421003 -3.852564 -2.479941  2.0
2013-01-05 -3.920834 -3.974585 -5.071261  0.0
2013-01-06       NaN       NaN       NaN  NaN

In [169]:
df.apply(np.cumsum)

                   A         B         C     D
2013-01-01  0.000000  0.000000 -1.295413   5.0
2013-01-02  1.155350  0.543212 -2.322215  10.0
2013-01-03 -0.212198  1.837421 -3.083630  15.0
2013-01-04 -1.633200  0.984857 -2.563571  20.0
2013-01-05 -0.554034  2.010272 -2.634832  25.0
2013-01-06  0.386171  2.193898 -2.340469  30.0

In [170]:
df.apply(lambda x: x.max() - x.min())

A    2.576353
B    2.146773
C    1.815472
D    0.000000
dtype: float64