<div style="color:white;background-color:GREEN ;padding:3%;border-radius:150px 150px;font-size:2.5em;text-align:center">Pandas toolkit Part 3</div>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
frame = pd.DataFrame({"a": ["Yes", "Yes", "No", "No"], "b": range(4)})
frame.describe()

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [3]:
frame.describe(include=["object"])

          a
count     4
unique    2
top     Yes
freq      2

In [4]:
frame.describe(include=["number"])

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [5]:
s1 = pd.Series(np.random.randn(5))
s1

0   -0.413573
1   -1.144454
2    1.203706
3   -1.752942
4    0.870870
dtype: float64

In [6]:
s1.idxmin(), s1.idxmax()

(3, 2)

In [7]:
df1 = pd.DataFrame(np.random.randn(5, 3), columns=["A", "B", "C"])
df1

          A         B         C
0  0.365765 -0.613480  0.776063
1  0.600188 -0.948364  0.385314
2  0.064208  0.503004  0.701378
3  0.017740 -3.149624 -0.179682
4 -1.650215  0.095637 -1.973293

In [8]:
df1.idxmin(axis=0)

A    4
B    3
C    4
dtype: int64

In [9]:
df1.idxmax(axis=1)

0    C
1    A
2    C
3    A
4    B
dtype: object

In [10]:
df3 = pd.DataFrame([2, 1, 1, 3, np.nan], columns=["A"], index=list("edcba"))
df3

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

     A
e  2.0
d  1.0
c  1.0
b  3.0
a  NaN

In [11]:
data = np.random.randint(0, 7, size=50)
data

array([5, 6, 3, 1, 2, 0, 4, 1, 2, 0, 2, 5, 2, 4, 3, 1, 4, 0, 1, 0, 0, 5,
       3, 3, 2, 2, 6, 3, 0, 6, 5, 3, 1, 2, 0, 4, 2, 1, 1, 4, 0, 6, 2, 0,
       4, 3, 4, 6, 0, 3])

In [12]:
s = pd.Series(data)
s.value_counts()

0    10
2     9
3     8
1     7
4     7
6     5
5     4
Name: count, dtype: int64

In [13]:
data = {"a": [1, 2, 3, 4], "b": ["x", "x", "y", "y"]}
frame = pd.DataFrame(data)
frame.value_counts()

a  b
1  x    1
2  x    1
3  y    1
4  y    1
Name: count, dtype: int64

In [14]:
s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7])
s5.mode()

0    3
1    7
dtype: int64

In [15]:
df5 = pd.DataFrame({
"A": np.random.randint(0, 7, size=50),
"B": np.random.randint(-10, 15, size=50),
})
df5.mode()

   A   B
0  5  13

In [16]:
arr = np.random.randn(20)
factor = pd.cut(arr, 4)
factor

[(0.704, 1.445], (-1.523, -0.779], (-0.779, -0.0377], (-1.523, -0.779], (-0.779, -0.0377], ..., (-1.523, -0.779], (-0.779, -0.0377], (-0.779, -0.0377], (-1.523, -0.779], (-1.523, -0.779]]
Length: 20
Categories (4, interval[float64, right]): [(-1.523, -0.779] < (-0.779, -0.0377] < (-0.0377, 0.704] < (0.704, 1.445]]

In [17]:
factor = pd.cut(arr, [-5, -1, 0, 1, 5])
factor

[(1, 5], (-5, -1], (-1, 0], (-5, -1], (-1, 0], ..., (-5, -1], (-1, 0], (-1, 0], (-5, -1], (-5, -1]]
Length: 20
Categories (4, interval[int64, right]): [(-5, -1] < (-1, 0] < (0, 1] < (1, 5]]

In [18]:
arr = np.random.randn(30)
factor = pd.qcut(arr, [0, 0.25, 0.5, 0.75, 1])
factor

[(0.806, 2.323], (0.806, 2.323], (0.806, 2.323], (-1.591, -0.603], (-0.603, 0.0624], ..., (0.806, 2.323], (-1.591, -0.603], (0.0624, 0.806], (0.0624, 0.806], (-0.603, 0.0624]]
Length: 30
Categories (4, interval[float64, right]): [(-1.591, -0.603] < (-0.603, 0.0624] < (0.0624, 0.806] < (0.806, 2.323]]

In [19]:
arr = np.random.randn(20)
factor = pd.cut(arr, [-np.inf, 0, np.inf])
factor

[(0.0, inf], (-inf, 0.0], (-inf, 0.0], (0.0, inf], (-inf, 0.0], ..., (-inf, 0.0], (-inf, 0.0], (0.0, inf], (-inf, 0.0], (0.0, inf]]
Length: 20
Categories (2, interval[float64, right]): [(-inf, 0.0] < (0.0, inf]]

In [20]:
def extract_city_name(df):
    df["city_name"] = df["city_and_code"].str.split(",").str.get(0)
    return df
def add_country_name(df, country_name=None):
    col = "city_name"
    df["city_and_country"] = df[col] + country_name
    return df
df_p = pd.DataFrame({"city_and_code": ["Chicago, IL"]})


add_country_name(extract_city_name(df_p), country_name="US")

  city_and_code city_name city_and_country
0   Chicago, IL   Chicago        ChicagoUS

In [21]:
df_p.pipe(extract_city_name).pipe(add_country_name, country_name="US")

  city_and_code city_name city_and_country
0   Chicago, IL   Chicago        ChicagoUS

In [22]:
df5.apply(np.mean)

A    3.06
B    2.56
dtype: float64

In [23]:
df5.apply(np.mean, axis=1)

0     2.0
1    -0.5
2     2.5
3    -5.0
4     9.5
5     3.0
6     9.0
7    -3.0
8    -2.0
9     6.5
10    7.0
11   -4.5
12    3.0
13    2.0
14    1.5
15    0.0
16    5.0
17    9.0
18    8.5
19    0.5
20   -2.5
21    5.0
22    2.0
23   -0.5
24    6.0
25   -3.0
26    1.5
27    7.0
28   -2.0
29    7.0
30   -3.5
31    2.5
32    3.0
33    2.0
34    7.5
35    6.0
36    5.5
37   -3.5
38    8.5
39    5.5
40    3.5
41    3.5
42    5.5
43    3.0
44    8.5
45   -1.5
46   -1.0
47    6.0
48    6.5
49   -1.5
dtype: float64

In [24]:
df5.apply(lambda x: x.max() - x.min())

A     6
B    24
dtype: int64

In [25]:
df5.apply(np.cumsum)

      A    B
0     2    2
1     4   -1
2     8    0
3     8  -10
4    13    4
5    17    6
6    22   19
7    22   13
8    26    5
9    30   14
10   36   22
11   37   12
12   43   12
13   48   11
14   52   10
15   52   10
16   57   15
17   62   28
18   66   41
19   72   36
20   72   31
21   72   41
22   75   42
23   77   39
24   82   46
25   83   39
26   85   40
27   91   48
28   92   43
29   94   55
30   96   46
31  101   46
32  104   49
33  109   48
34  112   60
35  117   67
36  122   73
37  122   66
38  126   79
39  128   88
40  134   89
41  137   93
42  139  102
43  140  107
44  145  119
45  145  116
46  146  113
47  151  120
48  151  133
49  153  128

In [26]:
df5.apply(np.exp)

             A             B
0     7.389056  7.389056e+00
1     7.389056  4.978707e-02
2    54.598150  2.718282e+00
3     1.000000  4.539993e-05
4   148.413159  1.202604e+06
5    54.598150  7.389056e+00
6   148.413159  4.424134e+05
7     1.000000  2.478752e-03
8    54.598150  3.354626e-04
9    54.598150  8.103084e+03
10  403.428793  2.980958e+03
11    2.718282  4.539993e-05
12  403.428793  1.000000e+00
13  148.413159  3.678794e-01
14   54.598150  3.678794e-01
15    1.000000  1.000000e+00
16  148.413159  1.484132e+02
17  148.413159  4.424134e+05
18   54.598150  4.424134e+05
19  403.428793  6.737947e-03
20    1.000000  6.737947e-03
21    1.000000  2.202647e+04
22   20.085537  2.718282e+00
23    7.389056  4.978707e-02
24  148.413159  1.096633e+03
25    2.718282  9.118820e-04
26    7.389056  2.718282e+00
27  403.428793  2.980958e+03
28    2.718282  6.737947e-03
29    7.389056  1.627548e+05
30    7.389056  1.234098e-04
31  148.413159  1.000000e+00
32   20.085537  2.008554e+01
33  148.413159  3.678794e-01
34   20.085537  1.627548e+05
35  148.413159  1.096633e+03
36  148.413159  4.034288e+02
37    1.000000  9.118820e-04
38   54.598150  4.424134e+05
39    7.389056  8.103084e+03
40  403.428793  2.718282e+00
41   20.085537  5.459815e+01
42    7.389056  8.103084e+03
43    2.718282  1.484132e+02
44  148.413159  1.627548e+05
45    1.000000  4.978707e-02
46    2.718282  4.978707e-02
47  148.413159  1.096633e+03
48    1.000000  4.424134e+05
49    7.389056  6.737947e-03

In [27]:
df5.apply("mean")

A    3.06
B    2.56
dtype: float64

In [28]:
df5.apply("mean", axis=1)

0     2.0
1    -0.5
2     2.5
3    -5.0
4     9.5
5     3.0
6     9.0
7    -3.0
8    -2.0
9     6.5
10    7.0
11   -4.5
12    3.0
13    2.0
14    1.5
15    0.0
16    5.0
17    9.0
18    8.5
19    0.5
20   -2.5
21    5.0
22    2.0
23   -0.5
24    6.0
25   -3.0
26    1.5
27    7.0
28   -2.0
29    7.0
30   -3.5
31    2.5
32    3.0
33    2.0
34    7.5
35    6.0
36    5.5
37   -3.5
38    8.5
39    5.5
40    3.5
41    3.5
42    5.5
43    3.0
44    8.5
45   -1.5
46   -1.0
47    6.0
48    6.5
49   -1.5
dtype: float64

In [29]:
def subtract_and_divide(x, sub, divide=1):
    return (x - sub) / divide

df5.apply(subtract_and_divide, args=(5,), divide=3)

           A         B
0  -1.000000 -1.000000
1  -1.000000 -2.666667
2  -0.333333 -1.333333
3  -1.666667 -5.000000
4   0.000000  3.000000
5  -0.333333 -1.000000
6   0.000000  2.666667
7  -1.666667 -3.666667
8  -0.333333 -4.333333
9  -0.333333  1.333333
10  0.333333  1.000000
11 -1.333333 -5.000000
12  0.333333 -1.666667
13  0.000000 -2.000000
14 -0.333333 -2.000000
15 -1.666667 -1.666667
16  0.000000  0.000000
17  0.000000  2.666667
18 -0.333333  2.666667
19  0.333333 -3.333333
20 -1.666667 -3.333333
21 -1.666667  1.666667
22 -0.666667 -1.333333
23 -1.000000 -2.666667
24  0.000000  0.666667
25 -1.333333 -4.000000
26 -1.000000 -1.333333
27  0.333333  1.000000
28 -1.333333 -3.333333
29 -1.000000  2.333333
30 -1.000000 -4.666667
31  0.000000 -1.666667
32 -0.666667 -0.666667
33  0.000000 -2.000000
34 -0.666667  2.333333
35  0.000000  0.666667
36  0.000000  0.333333
37 -1.666667 -4.000000
38 -0.333333  2.666667
39 -1.000000  1.333333
40  0.333333 -1.333333
41 -0.666667 -0.333333
42 -1.000000  1.333333
43 -1.333333  0.000000
44  0.000000  2.333333
45 -1.666667 -2.666667
46 -1.333333 -2.666667
47  0.000000  0.666667
48 -1.666667  2.666667
49 -1.000000 -3.333333

In [30]:
tsdf = pd.DataFrame(
np.random.randn(10, 3),
columns=["A", "B", "C"],
index=pd.date_range("1/1/2000", periods=10),
)

tsdf.iloc[3:7] = np.nan
tsdf

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                   A         B         C
2000-01-01  1.583250 -0.431848  0.003071
2000-01-02  2.248574 -0.246248  0.149419
2000-01-03  0.100828 -1.328737  0.059948
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08 -0.570313 -1.632301  1.181294
2000-01-09 -0.100979 -0.178890  0.301657
2000-01-10  0.174477 -0.447904  0.503176

In [31]:
tsdf.agg(np.sum)

<ipython-input-31-b7faa8cdef41>:1: FutureWarning: The provided callable <function sum at 0x7897702377f0> is currently using DataFrame.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  tsdf.agg(np.sum)

A    3.435838
B   -4.265927
C    2.198564
dtype: float64

In [32]:
tsdf.agg("sum")

A    3.435838
B   -4.265927
C    2.198564
dtype: float64

In [33]:
tsdf.sum()

A    3.435838
B   -4.265927
C    2.198564
dtype: float64

In [34]:
tsdf["A"].agg("sum")

3.435837520980709

In [35]:
tsdf.agg(["sum", "mean"])

             A         B         C
sum   3.435838 -4.265927  2.198564
mean  0.572640 -0.710988  0.366427

In [36]:
tsdf["A"].agg(["sum", "mean"])

sum     3.435838
mean    0.572640
Name: A, dtype: float64

In [37]:
tsdf["A"].agg(["sum", lambda x: x.mean()])

sum         3.435838
<lambda>    0.572640
Name: A, dtype: float64

In [38]:
def mymean(x):
    return x.mean()

tsdf["A"].agg(["sum", mymean])

sum       3.435838
mymean    0.572640
Name: A, dtype: float64

In [39]:
tsdf.agg({"A": "mean", "B": "sum"})

A    0.572640
B   -4.265927
dtype: float64

In [40]:
tsdf.agg({"A": ["mean", "min"], "B": "sum"})

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

             A         B
mean  0.572640       NaN
min  -0.570313       NaN
sum        NaN -4.265927

In [41]:
mdf = pd.DataFrame({
"A": [1, 2, 3],
"B": [1.0, 2.0, 3.0],
"C": ["foo", "bar", "baz"],
"D": pd.date_range("20130101", periods=3),
})

In [42]:
# Custom describe

from functools import partial
q_25 = partial(pd.Series.quantile, q=0.25)
q_25.__name__ = "25%"
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = "75%"
tsdf.agg(["count", "mean", "std", "min", q_25, "median", q_75, "max"])

               A         B         C
count   6.000000  6.000000  6.000000
mean    0.572640 -0.710988  0.366427
std     1.092825  0.612646  0.438167
min    -0.570313 -1.632301  0.003071
25%    -0.050527 -1.108529  0.082316
median  0.137653 -0.439876  0.225538
75%     1.231057 -0.292648  0.452796
max     2.248574 -0.178890  1.181294

In [43]:
tsdf = pd.DataFrame(
np.random.randn(10, 3),
columns=["A", "B", "C"],
index=pd.date_range("1/1/2000", periods=10),
)

tsdf.iloc[3:7] = np.nan
tsdf

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                   A         B         C
2000-01-01 -1.019591  0.936447 -0.048555
2000-01-02  1.036692  0.461386 -2.170076
2000-01-03 -0.940336 -0.576746  1.264413
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.318631 -0.177405 -1.481361
2000-01-09 -0.301121  1.213045 -0.330745
2000-01-10 -0.905338 -0.102909 -0.554350

In [44]:
tsdf.transform(np.abs)

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                   A         B         C
2000-01-01  1.019591  0.936447  0.048555
2000-01-02  1.036692  0.461386  2.170076
2000-01-03  0.940336  0.576746  1.264413
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.318631  0.177405  1.481361
2000-01-09  0.301121  1.213045  0.330745
2000-01-10  0.905338  0.102909  0.554350

In [45]:
tsdf.transform("abs")

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                   A         B         C
2000-01-01  1.019591  0.936447  0.048555
2000-01-02  1.036692  0.461386  2.170076
2000-01-03  0.940336  0.576746  1.264413
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.318631  0.177405  1.481361
2000-01-09  0.301121  1.213045  0.330745
2000-01-10  0.905338  0.102909  0.554350

In [46]:
tsdf.transform(lambda x: x.abs())

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                   A         B         C
2000-01-01  1.019591  0.936447  0.048555
2000-01-02  1.036692  0.461386  2.170076
2000-01-03  0.940336  0.576746  1.264413
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.318631  0.177405  1.481361
2000-01-09  0.301121  1.213045  0.330745
2000-01-10  0.905338  0.102909  0.554350

In [47]:
np.abs(tsdf)

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                   A         B         C
2000-01-01  1.019591  0.936447  0.048555
2000-01-02  1.036692  0.461386  2.170076
2000-01-03  0.940336  0.576746  1.264413
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.318631  0.177405  1.481361
2000-01-09  0.301121  1.213045  0.330745
2000-01-10  0.905338  0.102909  0.554350

In [48]:
tsdf["A"].transform(np.abs)

2000-01-01    1.019591
2000-01-02    1.036692
2000-01-03    0.940336
2000-01-04         NaN
2000-01-05         NaN
2000-01-06         NaN
2000-01-07         NaN
2000-01-08    0.318631
2000-01-09    0.301121
2000-01-10    0.905338
Freq: D, Name: A, dtype: float64

In [49]:
tsdf.transform([np.abs, lambda x: x + 1])

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                   A                   B                   C
            absolute  <lambda>  absolute  <lambda>  absolute  <lambda>
2000-01-01  1.019591 -0.019591  0.936447  1.936447  0.048555  0.951445
2000-01-02  1.036692  2.036692  0.461386  1.461386  2.170076 -1.170076
2000-01-03  0.940336  0.059664  0.576746  0.423254  1.264413  2.264413
2000-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN       NaN       NaN
2000-01-08  0.318631  1.318631  0.177405  0.822595  1.481361 -0.481361
2000-01-09  0.301121  0.698879  1.213045  2.213045  0.330745  0.669255
2000-01-10  0.905338  0.094662  0.102909  0.897091  0.554350  0.445650

In [50]:
tsdf["A"].transform([np.abs, lambda x: x + 1])

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

            absolute  <lambda>
2000-01-01  1.019591 -0.019591
2000-01-02  1.036692  2.036692
2000-01-03  0.940336  0.059664
2000-01-04       NaN       NaN
2000-01-05       NaN       NaN
2000-01-06       NaN       NaN
2000-01-07       NaN       NaN
2000-01-08  0.318631  1.318631
2000-01-09  0.301121  0.698879
2000-01-10  0.905338  0.094662

In [51]:
tsdf.transform({"A": np.abs, "B": lambda x: x + 1})

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                   A         B
2000-01-01  1.019591  1.936447
2000-01-02  1.036692  1.461386
2000-01-03  0.940336  0.423254
2000-01-04       NaN       NaN
2000-01-05       NaN       NaN
2000-01-06       NaN       NaN
2000-01-07       NaN       NaN
2000-01-08  0.318631  0.822595
2000-01-09  0.301121  2.213045
2000-01-10  0.905338  0.897091

In [52]:
df = pd.DataFrame({
"one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
"two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
"three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
})

df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

        one       two     three
a  0.165601 -1.466552       NaN
b  0.568030  0.269346  0.749613
c -0.611387 -0.591716  1.224912
d       NaN  0.046724  0.436237

In [53]:
df["three"] = df["one"] * df["two"]
df["flag"] = df["one"] > 2
df

/usr/local/lib/python3.10/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

        one       two     three   flag
a  0.165601 -1.466552 -0.242863  False
b  0.568030  0.269346  0.152997  False
c -0.611387 -0.591716  0.361768  False
d       NaN  0.046724       NaN  False

In [54]:
def f(x):
    return len(str(x))
df["one"].map(f)

a    19
b    18
c    19
d     3
Name: one, dtype: int64

In [55]:
df.applymap(f)

<ipython-input-55-6c8daf873a64>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(f)

   one  two  three  flag
a   19   19     20     5
b   18   19     19     5
c   19   19     18     5
d    3   19      3     5

In [56]:
s = pd.Series(
["six", "seven", "six", "seven", "six"], index=["a", "b", "c", "d", "e"]
)

t = pd.Series({"six": 6.0, "seven": 7.0})
s

a      six
b    seven
c      six
d    seven
e      six
dtype: object

In [57]:
s.map(t)

a    6.0
b    7.0
c    6.0
d    7.0
e    6.0
dtype: float64

In [58]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a   -0.610546
b    1.822595
c    0.327483
d   -0.207456
e    0.706966
dtype: float64

In [59]:
s.reindex(["e", "b", "f", "d"])

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

e    0.706966
b    1.822595
f         NaN
d   -0.207456
dtype: float64

In [60]:
df.reindex(index=["c", "f", "b"], columns=["three", "two", "one"])

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      three       two       one
c  0.361768 -0.591716 -0.611387
f       NaN       NaN       NaN
b  0.152997  0.269346  0.568030

In [61]:
df.reindex(["c", "f", "b"], axis="index")

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

        one       two     three   flag
c -0.611387 -0.591716  0.361768  False
f       NaN       NaN       NaN    NaN
b  0.568030  0.269346  0.152997  False

In [62]:
rs = s.reindex(df.index)
rs

a   -0.610546
b    1.822595
c    0.327483
d   -0.207456
dtype: float64

In [63]:
df.reindex(["c", "f", "b"], axis="index")

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

        one       two     three   flag
c -0.611387 -0.591716  0.361768  False
f       NaN       NaN       NaN    NaN
b  0.568030  0.269346  0.152997  False

In [64]:
df.reindex(["three", "two", "one"], axis="columns")

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      three       two       one
a -0.242863 -1.466552  0.165601
b  0.152997  0.269346  0.568030
c  0.361768 -0.591716 -0.611387
d       NaN  0.046724       NaN

In [65]:
df.reindex_like(df)

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

        one       two     three   flag
a  0.165601 -1.466552 -0.242863  False
b  0.568030  0.269346  0.152997  False
c -0.611387 -0.591716  0.361768  False
d       NaN  0.046724       NaN  False

In [66]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s1 = s[:4]
s2 = s[1:]
s1.align(s2)

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

(a    0.555454
 b    0.634734
 c   -1.072766
 d   -0.520694
 e         NaN
 dtype: float64,
 a         NaN
 b    0.634734
 c   -1.072766
 d   -0.520694
 e    0.573721
 dtype: float64)

In [67]:
s1.align(s2, join="inner")

(b    0.634734
 c   -1.072766
 d   -0.520694
 dtype: float64,
 b    0.634734
 c   -1.072766
 d   -0.520694
 dtype: float64)

In [68]:
s1.align(s2, join="left")

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

(a    0.555454
 b    0.634734
 c   -1.072766
 d   -0.520694
 dtype: float64,
 a         NaN
 b    0.634734
 c   -1.072766
 d   -0.520694
 dtype: float64)

In [69]:
df.align(df5, join="inner")

(Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [])

In [70]:
df.align(df5, join="inner", axis=0)

(Empty DataFrame
 Columns: [one, two, three, flag]
 Index: [],
 Empty DataFrame
 Columns: [A, B]
 Index: [])

In [71]:
df.align(df5.iloc[0], axis=1)

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

(    A   B   flag       one     three       two
 a NaN NaN  False  0.165601 -0.242863 -1.466552
 b NaN NaN  False  0.568030  0.152997  0.269346
 c NaN NaN  False -0.611387  0.361768 -0.591716
 d NaN NaN  False       NaN       NaN  0.046724,
 A        2.0
 B        2.0
 flag     NaN
 one      NaN
 three    NaN
 two      NaN
 Name: 0, dtype: float64)

In [72]:
rng = pd.date_range("1/3/2000", periods=8)
ts = pd.Series(np.random.randn(8), index=rng)
ts2 = ts[[0, 3, 6]]
ts

<ipython-input-72-3f3f8aeefbc5>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ts2 = ts[[0, 3, 6]]

2000-01-03   -0.039854
2000-01-04    0.151782
2000-01-05    0.595860
2000-01-06    1.004371
2000-01-07   -0.724253
2000-01-08   -2.415080
2000-01-09    0.748747
2000-01-10   -0.551935
Freq: D, dtype: float64

In [73]:

ts2.reindex(ts.index)

2000-01-03   -0.039854
2000-01-04         NaN
2000-01-05         NaN
2000-01-06    1.004371
2000-01-07         NaN
2000-01-08         NaN
2000-01-09    0.748747
2000-01-10         NaN
Freq: D, dtype: float64

In [74]:
ts2.reindex(ts.index, method="ffill")

2000-01-03   -0.039854
2000-01-04   -0.039854
2000-01-05   -0.039854
2000-01-06    1.004371
2000-01-07    1.004371
2000-01-08    1.004371
2000-01-09    0.748747
2000-01-10    0.748747
Freq: D, dtype: float64

In [75]:
ts2.reindex(ts.index, method="bfill")

2000-01-03   -0.039854
2000-01-04    1.004371
2000-01-05    1.004371
2000-01-06    1.004371
2000-01-07    0.748747
2000-01-08    0.748747
2000-01-09    0.748747
2000-01-10         NaN
Freq: D, dtype: float64

In [76]:
ts2.reindex(ts.index, method="nearest")

2000-01-03   -0.039854
2000-01-04   -0.039854
2000-01-05    1.004371
2000-01-06    1.004371
2000-01-07    1.004371
2000-01-08    0.748747
2000-01-09    0.748747
2000-01-10    0.748747
Freq: D, dtype: float64

In [77]:
ts2.reindex(ts.index).fillna(method="ffill")

<ipython-input-77-68e5e5df60fc>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ts2.reindex(ts.index).fillna(method="ffill")

2000-01-03   -0.039854
2000-01-04   -0.039854
2000-01-05   -0.039854
2000-01-06    1.004371
2000-01-07    1.004371
2000-01-08    1.004371
2000-01-09    0.748747
2000-01-10    0.748747
Freq: D, dtype: float64

In [78]:
ts2.reindex(ts.index, method="ffill", limit=1)

2000-01-03   -0.039854
2000-01-04   -0.039854
2000-01-05         NaN
2000-01-06    1.004371
2000-01-07    1.004371
2000-01-08         NaN
2000-01-09    0.748747
2000-01-10    0.748747
Freq: D, dtype: float64

In [79]:
ts2.reindex(ts.index, method="ffill", tolerance="1 day")

2000-01-03   -0.039854
2000-01-04   -0.039854
2000-01-05         NaN
2000-01-06    1.004371
2000-01-07    1.004371
2000-01-08         NaN
2000-01-09    0.748747
2000-01-10    0.748747
Freq: D, dtype: float64

In [80]:
df.drop(["a", "d"], axis=0)

        one       two     three   flag
b  0.568030  0.269346  0.152997  False
c -0.611387 -0.591716  0.361768  False

In [81]:
df.drop(["one"], axis=1)

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

        two     three   flag
a -1.466552 -0.242863  False
b  0.269346  0.152997  False
c -0.591716  0.361768  False
d  0.046724       NaN  False

In [82]:
df.reindex(df.index.difference(["a", "d"]))

        one       two     three   flag
b  0.568030  0.269346  0.152997  False
c -0.611387 -0.591716  0.361768  False

In [83]:
s.rename(str.upper)

A    0.555454
B    0.634734
C   -1.072766
D   -0.520694
E    0.573721
dtype: float64

In [84]:
df.rename(
columns={"one": "foo", "two": "bar"},
index={"a": "apple", "b": "banana", "d": "durian"})

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

             foo       bar     three   flag
apple   0.165601 -1.466552 -0.242863  False
banana  0.568030  0.269346  0.152997  False
c      -0.611387 -0.591716  0.361768  False
durian       NaN  0.046724       NaN  False

In [85]:
df.rename({"one": "foo", "two": "bar"}, axis="columns")

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

        foo       bar     three   flag
a  0.165601 -1.466552 -0.242863  False
b  0.568030  0.269346  0.152997  False
c -0.611387 -0.591716  0.361768  False
d       NaN  0.046724       NaN  False

In [86]:
df.rename({"a": "apple", "b": "banana", "d": "durian"}, axis="index")

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

             one       two     three   flag
apple   0.165601 -1.466552 -0.242863  False
banana  0.568030  0.269346  0.152997  False
c      -0.611387 -0.591716  0.361768  False
durian       NaN  0.046724       NaN  False

In [87]:
s.rename("scalar-name")

a    0.555454
b    0.634734
c   -1.072766
d   -0.520694
e    0.573721
Name: scalar-name, dtype: float64

In [88]:
df = pd.DataFrame(
{"x": [1, 2, 3, 4, 5, 6], "y": [10, 20, 30, 40, 50, 60]},
index=pd.MultiIndex.from_product(
[["a", "b", "c"], [1, 2]], names=["let", "num"]
))

df

         x   y
let num
a   1    1  10
    2    2  20
b   1    3  30
    2    4  40
c   1    5  50
    2    6  60

In [89]:
df.rename_axis(index={"let": "abc"})

         x   y
abc num
a   1    1  10
    2    2  20
b   1    3  30
    2    4  40
c   1    5  50
    2    6  60

In [90]:
df.rename_axis(index=str.upper)

         x   y
LET NUM
a   1    1  10
    2    2  20
b   1    3  30
    2    4  40
c   1    5  50
    2    6  60

In [91]:
df = pd.DataFrame({"col1": np.random.randn(3), "col2": np.random.randn(3)}, index=["a", "b","c"])

for col in df:
    print(col)

col1
col2

In [92]:
df = pd.DataFrame({"a": [1, 2, 3], "b": ["a", "b", "c"]})
In [257]: for index, row in df.iterrows():
        row["a"] = 10
df

   a  b
0  1  a
1  2  b
2  3  c

In [93]:
for label, ser in df.items():
    print(label)
    print(ser)

a
0    1
1    2
2    3
Name: a, dtype: int64
b
0    a
1    b
2    c
Name: b, dtype: object

In [94]:
for row_index, row in df.iterrows():
    print(row_index, row, sep="\n")

0
a    1
b    a
Name: 0, dtype: object
1
a    2
b    b
Name: 1, dtype: object
2
a    3
b    c
Name: 2, dtype: object

In [95]:
df_orig = pd.DataFrame([[1, 1.5]], columns=["int", "float"])
df_orig.dtypes

int        int64
float    float64
dtype: object

In [96]:
row = next(df_orig.iterrows())[1]
row

int      1.0
float    1.5
Name: 0, dtype: float64

In [97]:
row["int"].dtype

dtype('float64')

In [98]:
df_orig["int"].dtype

dtype('int64')

In [99]:
df2 = pd.DataFrame({"x": [1, 2, 3], "y": [4, 5, 6]})
print(df2)

   x  y
0  1  4
1  2  5
2  3  6

In [100]:
df2_t = pd.DataFrame({idx: values for idx, values in df2.iterrows()})
print(df2_t)

   0  1  2
x  1  2  3
y  4  5  6

In [101]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, a=1, b='a')
Pandas(Index=1, a=2, b='b')
Pandas(Index=2, a=3, b='c')

In [102]:
s = pd.Series(pd.date_range("20130101 09:10:12", periods=4))
s

0   2013-01-01 09:10:12
1   2013-01-02 09:10:12
2   2013-01-03 09:10:12
3   2013-01-04 09:10:12
dtype: datetime64[ns]

In [103]:
s.dt.hour

0    9
1    9
2    9
3    9
dtype: int32

In [104]:
s.dt.second

0    12
1    12
2    12
3    12
dtype: int32

In [105]:
s.dt.day

0    1
1    2
2    3
3    4
dtype: int32

In [106]:
s[s.dt.day == 2]

1   2013-01-02 09:10:12
dtype: datetime64[ns]

In [107]:
stz = s.dt.tz_localize("US/Eastern")
stz

0   2013-01-01 09:10:12-05:00
1   2013-01-02 09:10:12-05:00
2   2013-01-03 09:10:12-05:00
3   2013-01-04 09:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [108]:
s.dt.tz_localize("UTC").dt.tz_convert("US/Eastern")

0   2013-01-01 04:10:12-05:00
1   2013-01-02 04:10:12-05:00
2   2013-01-03 04:10:12-05:00
3   2013-01-04 04:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [109]:
s = pd.Series(pd.date_range("20130101", periods=4))
s

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: datetime64[ns]

In [110]:
s.dt.strftime("%Y/%m/%d")

0    2013/01/01
1    2013/01/02
2    2013/01/03
3    2013/01/04
dtype: object

In [111]:
s = pd.Series(pd.period_range("20130101", periods=4))
s

0    2013-01-01
1    2013-01-02
2    2013-01-03
3    2013-01-04
dtype: period[D]

In [112]:
s.dt.strftime("%Y/%m/%d")

0    2013/01/01
1    2013/01/02
2    2013/01/03
3    2013/01/04
dtype: object

In [113]:
s = pd.Series(pd.period_range("20130101", periods=4, freq="D"))
s

0    2013-01-01
1    2013-01-02
2    2013-01-03
3    2013-01-04
dtype: period[D]

In [114]:
s.dt.year

0    2013
1    2013
2    2013
3    2013
dtype: int64

In [115]:
s.dt.day

0    1
1    2
2    3
3    4
dtype: int64

In [116]:
s = pd.Series(pd.timedelta_range("1 day 00:00:05", periods=4, freq="s"))
s

0   1 days 00:00:05
1   1 days 00:00:06
2   1 days 00:00:07
3   1 days 00:00:08
dtype: timedelta64[ns]

In [117]:
s.dt.days

0    1
1    1
2    1
3    1
dtype: int64

In [118]:
s.dt.seconds

0    5
1    6
2    7
3    8
dtype: int32

In [119]:
s.dt.components

   days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0     1      0        0        5             0             0            0
1     1      0        0        6             0             0            0
2     1      0        0        7             0             0            0
3     1      0        0        8             0             0            0